    body {
        background-color: #1a1919;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    h2 {
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #user-name-input {
        width: fit-content;
        background-color: #3a3838;
    }
    
    #language {
        color: #4d4747;
    }
    section {
        min-height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
