body {
    background-color: rgb(219, 226, 226);
    background-attachment: fixed;
    color: black;
  }
section {
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 