#footer a{
    color: rgba(238, 238, 238, 0.658);
    text-decoration: none;
    font-size: 14px;
}

#footer i{
    font-size: 1.6rem;
    color: rgba(238, 238, 238, 0.658);;
    display: inline-block;
    margin-right: 17px;
}

#last-line {
    font-size: 12px;
    color: rgba(238, 238, 238, 0.658);;
}

#button-servic{
    font-size: 14px;
    border-radius: 0%;
    color: rgba(238, 238, 238, 0.658);
    border-color: rgba(238, 238, 238, 0.658);;
}